#carruselSuperior {
    height: 90vh;
    overflow: hidden;
    clip-path: polygon(100% 0%, 0% 0% , 0% 98.49%, 1% 98.45%, 2% 98.35%, 3% 98.18%, 4% 97.94%, 5% 97.65%, 6% 97.30%, 7% 96.90%, 8% 96.46%, 9% 95.98%, 10% 95.48%, 11% 94.96%, 12% 94.44%, 13% 93.91%, 14% 93.40%, 15% 92.90%, 16% 92.44%, 17% 92.01%, 18% 91.63%, 19% 91.29%, 20% 91.01%, 21% 90.80%, 22% 90.65%, 23% 90.56%, 24% 90.55%, 25% 90.61%, 26% 90.73%, 27% 90.93%, 28% 91.18%, 29% 91.49%, 30% 91.86%, 31% 92.27%, 32% 92.73%, 33% 93.21%, 34% 93.72%, 35% 94.24%, 36% 94.76%, 37% 95.29%, 38% 95.79%, 39% 96.28%, 40% 96.74%, 41% 97.15%, 42% 97.52%, 43% 97.84%, 44% 98.10%, 45% 98.29%, 46% 98.42%, 47% 98.48%, 48% 98.47%, 49% 98.40%, 50% 98.25%, 51% 98.04%, 52% 97.76%, 53% 97.43%, 54% 97.05%, 55% 96.63%, 56% 96.16%, 57% 95.67%, 58% 95.16%, 59% 94.63%, 60% 94.11%, 61% 93.59%, 62% 93.09%, 63% 92.61%, 64% 92.17%, 65% 91.76%, 66% 91.41%, 67% 91.11%, 68% 90.87%, 69% 90.70%, 70% 90.59%, 71% 90.55%, 72% 90.58%, 73% 90.68%, 74% 90.85%, 75% 91.08%, 76% 91.37%, 77% 91.72%, 78% 92.11%, 79% 92.55%, 80% 93.03%, 81% 93.52%, 82% 94.04%, 83% 94.57%, 84% 95.09%, 85% 95.61%, 86% 96.10%, 87% 96.57%, 88% 97.00%, 89% 97.39%, 90% 97.73%, 91% 98.01%, 92% 98.23%, 93% 98.38%, 94% 98.47%, 95% 98.49%, 96% 98.43%, 97% 98.31%, 98% 98.12%, 99% 97.87%, 100% 97.56%);
}
#carruselSuperior .carousel-indicators {
    bottom: 10px;
    z-index: 100;
}
#carruselSuperior h1{
    font-weight: 900;
    font-size: 4.5rem;
}
#carruselSuperior .subtitulo{
    font-weight: 600 !important;
    font-size: 2.5rem !important;
}
#carruselSuperior p{
    width: 700px;
}
.video-videoslider-bg{
    width: 100%;
    filter: brightness(70%);
-webkit-filter: brightness(70%);
-moz-filter: brightness(70%);
}
.circulo{
    width: 1000px;
    height: 1000px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #00000080;
    position: absolute;
    top: -5rem;
    z-index: -1;
}
#carruselSuperior .carousel-indicators li {
    background-color: var(--color-generico-blanco);
    width: 10px;
    height: 10px;
    margin-right: 3px;
    margin-left: 3px;
    border-radius: 100%;
}

#carruselSuperior .carousel-indicators .active {
    background-color: var(--color-marca-tercero);
}

#carruselSuperior .mate-bike-slide {
    position: absolute;
    bottom: 0;
    right: -30px;
    z-index: 30;
    pointer-events: none;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carruselSuperior .position-fix {
    position: relative;
    top: 75px;
    right: 75px;
}

#carruselSuperior .text-container {
    position: relative;
}

#carruselSuperior .text-container .text-content {
    position: relative;
}

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-carusel {
    position: absolute;
    z-index: 1;
    top: 0px;
    height: 85vh;
    width: 100%;
}

/*Estilo btn ticket*/
.btn-ticket{
    background-color: #55939E;
    border: solid white 1px;
    border-radius: 4px;
    padding: 1rem;
}
.btn-ticket i{
    margin-right: 1rem;
}