#carruselSuperior {
    /*https://wave.novoselski.net/*/
    height: 90vh;
    overflow: hidden;
    clip-path: polygon(100% 0%, 0% 0% , 0% 98.49%, 1% 98.45%, 2% 98.35%, 3% 98.18%, 4% 97.94%, 5% 97.65%, 6% 97.30%, 7% 96.90%, 8% 96.46%, 9% 95.98%, 10% 95.48%, 11% 94.96%, 12% 94.44%, 13% 93.91%, 14% 93.40%, 15% 92.90%, 16% 92.44%, 17% 92.01%, 18% 91.63%, 19% 91.29%, 20% 91.01%, 21% 90.80%, 22% 90.65%, 23% 90.56%, 24% 90.55%, 25% 90.61%, 26% 90.73%, 27% 90.93%, 28% 91.18%, 29% 91.49%, 30% 91.86%, 31% 92.27%, 32% 92.73%, 33% 93.21%, 34% 93.72%, 35% 94.24%, 36% 94.76%, 37% 95.29%, 38% 95.79%, 39% 96.28%, 40% 96.74%, 41% 97.15%, 42% 97.52%, 43% 97.84%, 44% 98.10%, 45% 98.29%, 46% 98.42%, 47% 98.48%, 48% 98.47%, 49% 98.40%, 50% 98.25%, 51% 98.04%, 52% 97.76%, 53% 97.43%, 54% 97.05%, 55% 96.63%, 56% 96.16%, 57% 95.67%, 58% 95.16%, 59% 94.63%, 60% 94.11%, 61% 93.59%, 62% 93.09%, 63% 92.61%, 64% 92.17%, 65% 91.76%, 66% 91.41%, 67% 91.11%, 68% 90.87%, 69% 90.70%, 70% 90.59%, 71% 90.55%, 72% 90.58%, 73% 90.68%, 74% 90.85%, 75% 91.08%, 76% 91.37%, 77% 91.72%, 78% 92.11%, 79% 92.55%, 80% 93.03%, 81% 93.52%, 82% 94.04%, 83% 94.57%, 84% 95.09%, 85% 95.61%, 86% 96.10%, 87% 96.57%, 88% 97.00%, 89% 97.39%, 90% 97.73%, 91% 98.01%, 92% 98.23%, 93% 98.38%, 94% 98.47%, 95% 98.49%, 96% 98.43%, 97% 98.31%, 98% 98.12%, 99% 97.87%, 100% 97.56%);
}
#carruselSuperior .carousel-indicators {
    bottom: 10px;
    z-index: 100;
}
#carruselSuperior h1{
    font-weight: 900;
    font-size: 4.5rem;
}
#carruselSuperior .subtitulo{
    font-weight: 600 !important;
    font-size: 2.5rem !important;
}
#carruselSuperior p{
    max-width: 700px;
}
.video-videoslider-bg{
    width: 100%;
    filter: brightness(70%);
-webkit-filter: brightness(70%);
-moz-filter: brightness(70%);
}
.circulo{
    width: 1000px;
    height: 1000px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #00000080;
    position: absolute;
    top: -5rem;
    z-index: -1;
}
#carruselSuperior .carousel-indicators li {
    background-color: var(--color-generico-blanco);
    width: 10px;
    height: 10px;
    margin-right: 3px;
    margin-left: 3px;
    border-radius: 100%;
}

#carruselSuperior .carousel-indicators .active {
    background-color: var(--color-marca-tercero);
}

#carruselSuperior .mate-bike-slide {
    position: absolute;
    bottom: 0;
    right: -30px;
    z-index: 30;
    pointer-events: none;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carruselSuperior .position-fix {
    position: relative;
    top: 75px;
    right: 75px;
}

#carruselSuperior .text-container {
    position: relative;
}

#carruselSuperior .text-container .text-content {
    position: relative;
}

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-carusel {
    position: absolute;
    z-index: 1;
    top: 0px;
    height: 85vh;
    width: 100%;
}
@media (max-width: 1359px) {
    #carruselSuperior {
        height: 100vh;
        clip-path: polygon(100% 0%, 0% 0% , 0% 93.55%, 1% 93.54%, 2% 93.51%, 3% 93.45%, 4% 93.38%, 5% 93.29%, 6% 93.17%, 7% 93.04%, 8% 92.89%, 9% 92.72%, 10% 92.53%, 11% 92.33%, 12% 92.12%, 13% 91.89%, 14% 91.64%, 15% 91.39%, 16% 91.12%, 17% 90.85%, 18% 90.57%, 19% 90.28%, 20% 89.99%, 21% 89.69%, 22% 89.40%, 23% 89.10%, 24% 88.81%, 25% 88.52%, 26% 88.23%, 27% 87.95%, 28% 87.67%, 29% 87.41%, 30% 87.16%, 31% 86.91%, 32% 86.68%, 33% 86.47%, 34% 86.26%, 35% 86.08%, 36% 85.91%, 37% 85.76%, 38% 85.63%, 39% 85.51%, 40% 85.42%, 41% 85.35%, 42% 85.29%, 43% 85.26%, 44% 85.25%, 45% 85.26%, 46% 85.30%, 47% 85.35%, 48% 85.42%, 49% 85.52%, 50% 85.63%, 51% 85.76%, 52% 85.92%, 53% 86.08%, 54% 86.27%, 55% 86.47%, 56% 86.69%, 57% 86.92%, 58% 87.16%, 59% 87.42%, 60% 87.68%, 61% 87.96%, 62% 88.24%, 63% 88.53%, 64% 88.82%, 65% 89.11%, 66% 89.41%, 67% 89.70%, 68% 90.00%, 69% 90.29%, 70% 90.58%, 71% 90.86%, 72% 91.13%, 73% 91.40%, 74% 91.65%, 75% 91.89%, 76% 92.12%, 77% 92.34%, 78% 92.54%, 79% 92.73%, 80% 92.90%, 81% 93.05%, 82% 93.18%, 83% 93.29%, 84% 93.38%, 85% 93.46%, 86% 93.51%, 87% 93.54%, 88% 93.55%, 89% 93.54%, 90% 93.50%, 91% 93.45%, 92% 93.38%, 93% 93.28%, 94% 93.17%, 95% 93.04%, 96% 92.88%, 97% 92.71%, 98% 92.53%, 99% 92.33%, 100% 92.11%);
    }
    
    .video-videoslider-bg{
        width: 200%;
    }
    .circulo{
        display: none;
    }
  }
  @media (max-width: 756px) {
    #carruselSuperior {
        clip-path: polygon(100% 0%, 0% 0% , 0% 69.59%, 1% 69.58%, 2% 69.56%, 3% 69.53%, 4% 69.49%, 5% 69.44%, 6% 69.38%, 7% 69.30%, 8% 69.22%, 9% 69.13%, 10% 69.02%, 11% 68.91%, 12% 68.79%, 13% 68.66%, 14% 68.53%, 15% 68.38%, 16% 68.24%, 17% 68.09%, 18% 67.93%, 19% 67.77%, 20% 67.61%, 21% 67.44%, 22% 67.28%, 23% 67.12%, 24% 66.95%, 25% 66.79%, 26% 66.63%, 27% 66.47%, 28% 66.32%, 29% 66.18%, 30% 66.03%, 31% 65.90%, 32% 65.77%, 33% 65.65%, 34% 65.54%, 35% 65.44%, 36% 65.34%, 37% 65.26%, 38% 65.18%, 39% 65.12%, 40% 65.07%, 41% 65.03%, 42% 65.00%, 43% 64.98%, 44% 64.98%, 45% 64.98%, 46% 65.00%, 47% 65.03%, 48% 65.07%, 49% 65.12%, 50% 65.19%, 51% 65.26%, 52% 65.34%, 53% 65.44%, 54% 65.54%, 55% 65.65%, 56% 65.78%, 57% 65.90%, 58% 66.04%, 59% 66.18%, 60% 66.33%, 61% 66.48%, 62% 66.64%, 63% 66.80%, 64% 66.96%, 65% 67.12%, 66% 67.29%, 67% 67.45%, 68% 67.61%, 69% 67.78%, 70% 67.93%, 71% 68.09%, 72% 68.24%, 73% 68.39%, 74% 68.53%, 75% 68.67%, 76% 68.79%, 77% 68.91%, 78% 69.03%, 79% 69.13%, 80% 69.22%, 81% 69.31%, 82% 69.38%, 83% 69.44%, 84% 69.49%, 85% 69.53%, 86% 69.56%, 87% 69.58%, 88% 69.59%, 89% 69.58%, 90% 69.56%, 91% 69.53%, 92% 69.49%, 93% 69.44%, 94% 69.37%, 95% 69.30%, 96% 69.22%, 97% 69.12%, 98% 69.02%, 99% 68.91%, 100% 68.78%);
    }
    .video-videoslider-bg{
        width: 300%;
    }
  }