.footer-navbar-nav {
    display: flex;
    justify-content: space-between;
}

.footer-navbar-nav li a {
    color: #fff;
}


/*menu rrss footer*/

footer .menu-rrss-container {
    position: relative;
    width: auto;
    height: auto;
    font-size: 1.4rem;
}

footer .menu-rrss-container a {
    font-size: 0px !important;
    display: block;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0px;
}

/*Footer*/

.bg-footer {
    background-color: #f0f3d6;
    height: 30vh;
    position:relative;
}


.bg-footer:after{
    content:'';
    display:block;    
    position:absolute;
    top: -80px;
    left:0px;
    width: 100%;
    z-index: 9;
    background-color: #fff;
    height: 30vh;
    clip-path: polygon(100% 0%, 0% 0% , 0% 42.11%, 1% 42.09%, 2% 42.06%, 3% 42.00%, 4% 41.92%, 5% 41.82%, 6% 41.70%, 7% 41.57%, 8% 41.42%, 9% 41.26%, 10% 41.10%, 11% 40.93%, 12% 40.77%, 13% 40.61%, 14% 40.45%, 15% 40.30%, 16% 40.17%, 17% 40.05%, 18% 39.95%, 19% 39.87%, 20% 39.81%, 21% 39.78%, 22% 39.77%, 23% 39.78%, 24% 39.81%, 25% 39.87%, 26% 39.95%, 27% 40.05%, 28% 40.17%, 29% 40.30%, 30% 40.45%, 31% 40.61%, 32% 40.77%, 33% 40.94%, 34% 41.10%, 35% 41.27%, 36% 41.42%, 37% 41.57%, 38% 41.70%, 39% 41.82%, 40% 41.92%, 41% 42.00%, 42% 42.06%, 43% 42.09%, 44% 42.11%, 45% 42.09%, 46% 42.06%, 47% 42.00%, 48% 41.92%, 49% 41.82%, 50% 41.70%, 51% 41.57%, 52% 41.42%, 53% 41.26%, 54% 41.10%, 55% 40.93%, 56% 40.77%, 57% 40.60%, 58% 40.45%, 59% 40.30%, 60% 40.17%, 61% 40.05%, 62% 39.95%, 63% 39.87%, 64% 39.81%, 65% 39.78%, 66% 39.77%, 67% 39.78%, 68% 39.81%, 69% 39.87%, 70% 39.95%, 71% 40.05%, 72% 40.17%, 73% 40.31%, 74% 40.45%, 75% 40.61%, 76% 40.77%, 77% 40.94%, 78% 41.11%, 79% 41.27%, 80% 41.43%, 81% 41.57%, 82% 41.71%, 83% 41.82%, 84% 41.92%, 85% 42.00%, 86% 42.06%, 87% 42.09%, 88% 42.11%, 89% 42.09%, 90% 42.06%, 91% 42.00%, 92% 41.92%, 93% 41.82%, 94% 41.70%, 95% 41.56%, 96% 41.42%, 97% 41.26%, 98% 41.10%, 99% 40.93%, 100% 40.76%);
}

.menu-menu-rrss-footer-container .menu {
    display: flex;
    flex-direction: row;
}

.menu-pie-pagina {
    background-color: #a3a964;
    color: #FFFFFF;
}

