#carruselSuperior {
    height: 65vh;
    overflow: hidden;
}

#carruselSuperior video {
    height: 110vh;
}

#carruselSuperior .carousel-indicators {
    bottom: 10px;
    z-index: 100;
}

#carruselSuperior .carousel-indicators li {
    background-color: var(--color-generico-blanco);
    width: 10px;
    height: 10px;
    margin-right: 3px;
    margin-left: 3px;
    border-radius: 100%;
}

#carruselSuperior .carousel-indicators .active {
    background-color: var(--color-marca-tercero);
}

#carruselSuperior .mate-bike-slide {
    position: absolute;
    bottom: 0;
    right: -30px;
    z-index: 30;
    pointer-events: none;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carruselSuperior .position-fix {
    position: relative;
    top: 75px;
    right: 75px;
}

#carruselSuperior .text-container {
    position: relative;
}

#carruselSuperior .text-container .text-content {
    position: relative;
}

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-carusel {
    position: absolute;
    z-index: 1;
    top: 0px;
    height: 85vh;
    width: 100%;
}

.bg-fondo-img-slider {
    height: 75vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top left;
    position: relative;
    display: flex;
    overflow: hidden;
}


/*.bg-fondo-img-slider::after {
    content: '';
    height: 100vh;
    display: block;
    background-color: #0000007a;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
}*/

.slider-text-zindex {
    z-index: 1;
}

.parrafo-slider {
    font-size: 180%;
}

.parrafo-slider span {
    display: block;
    word-break: none;
}

.parrafo-slider strong {
    background-color: #000;
    border-radius: 3px;
    padding: 2px;
    color: #fedb09;
}

.parrafo-slider .texto-small {
    font-size: 1rem;
}

.titulo-carrusel-craed {
    font-weight: 700;
    font-size: 42px;
    color: #ffffff!important;
    text-align: center;
}

.contenedor-botones-slider {
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.boton-negro {
    background-color: #000;
    padding: 3px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 125%;
}

.carousel.slide .boton-negro {
    width: 33.1%;
}

a.boton-negro {
    color: #fff;
}