
.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.b-btn {
    background: #E9ECC7 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 8px #756C301F;
    border: 2px solid #FFFFFF;
    border-radius: 16px;
    opacity: 1;

}
.body-card{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 20px #00000014;
    border-radius: 16px;
    opacity: 1;

}
.btn-int{
    text-align: center;
    font: normal normal normal 16px/24px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.btn-ext{
    background: #55939E 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 8px #63929C66;
    border: 2px solid #FFFFFF;
    border-radius: 16px;
    opacity: 1;

    
}
