/* clases del footer basico */

#FooterBasico .menu-footer .widgettitle{
    font-size: var(--font-size-subtitulo-md);
    text-transform: uppercase;
    margin-bottom: 20px;
}
#FooterBasico .menu-footer .widgettitle::after{
    content:"↓";
    padding-left: 5%;
    font-size: var(--font-size-subtitulo-md);
}
#FooterBasico .menu-footer li a{
    font-size: var(--font-size-parrafo-lg);
    position: relative;
    left: 0;
    transition: all 0.3s ease;
}
#FooterBasico .menu-footer li a:hover{
    left: 3px;
}
#FooterBasico .menu-footer .wp-block-column{
    margin: 20px 0;
}
#FooterBasico .wp-block-image .alignright{
    margin: 0;
}